@use '_variables' as *;
@use '_mixins' as *;

a {
  display: inline-block;

  @include disable-default-a-behaviour;

  &,
  &:hover {
    color: pvar(--fg);
  }

  span {
    font-size: 80%;
    color: pvar(--secondary-750);
  }
}

my-delete-button {
  max-width: 130px;
}
