@use '_variables' as *;
@use '_mixins' as *;

$filters-background: pvar(--secondary-400);

.root {
  margin-bottom: 45px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  background-color: $filters-background;
  padding: 1.5rem;
  border-radius: 14px;

  input[type=radio] + label {
    font-weight: $font-regular;
  }

  .form-group > label:first-child {
    display: block;

    &.with-description {
      margin-bottom: 0;
    }

    &:not(.with-description) {
      margin-bottom: 10px;
    }
  }

  .form-group {
    @include margin-right(30px);
  }
}

.filters-summary {
  color: pvar(--main-fg-300);
}

.filters-toggle {
  padding: 6px 0.25rem calc(6px + 0.5rem) 0.5rem;

  @include margin-left(0.25rem);

  my-global-icon {
    @include margin-left(5px);
  }

  &.active {
    background-color: $filters-background;
    border-start-start-radius: 14px;
    border-start-end-radius: 14px;

    my-global-icon {
      position: relative;
      top: -1px;
    }
  }

  &:not(.active) my-global-icon ::ng-deep svg {
    transform: rotate(180deg);
  }
}

.sort {
  min-width: 250px;
  max-width: 300px;
  height: min-content;
}

my-select-languages,
my-select-categories {
  width: 300px;
  display: inline-block;
}

.update-your-settings {
  font-size: 12px;
  margin-bottom: 10px;

  a {
    color: pvar(--primary);
    text-decoration: underline;
  }
}

@media screen and (max-width: $small-view) {
  .first-row {
    flex-direction: column;
  }
}
