@use '_variables' as *;
@use '_mixins' as *;

.peertube-button {
  @include peertube-button;
}

.peertube-button-big {
  @include peertube-button-big;
}

.peertube-button-small {
  @include peertube-button-small;
}

.peertube-button-link {
  @include peertube-button-link;
}

.peertube-button-big-link {
  @include peertube-button-big-link;
}

.primary-button {
  @include primary-button;
}

.rounded-icon-button {
  @include rounded-icon-button;
}

.secondary-button {
  @include secondary-button;
}

.tertiary-button {
  @include tertiary-button;
}

.danger-button {
  @include danger-button;
}

.peertube-radio-container {
  @include peertube-radio-container;
}

.peertube-button-icon {
  @include button-with-icon(18px, 3px, -1px);
}

.peertube-create-button {
  @include peertube-button-link;
  @include primary-button;
  @include button-with-icon(20px, 5px, -1px);
}

.button-unstyle {
  padding: 0;
  border: 0;
}

.peertube-button-like-link {
  padding: 0;
  border: 0 !important;
  text-decoration: underline;
  color: pvar(--main-fg-500);

  &:hover {
    color: pvar(--main-fg-200);
  }
}
