<h1 class="visually-hidden" i18n>Discover</h1>
<div class="margin-content">

  @if (notResults) {
    <div class="no-results" i18n>No results.</div>
  } @else {
    <div class="quick-access text-secondary mt-3">
      <div #quickAccessContent class="quick-access-links" [ngClass]="{ 'see-all-quick-links': seeAllQuickLinks }">
        <span class="me-2">Quick access:</span>

        @for (quickAccess of quickAccessLinks; track quickAccess.label) {
          <a class="text-secondary text-decoration-underline me-2" [routerLink]="quickAccess.routerLink" [queryParams]="quickAccess.queryParams">{{ quickAccess.label }}</a>
        }
      </div>

      <button *ngIf="!seeAllQuickLinks && quickAccessOverflow" type="button" class="peertube-button tertiary-button" (click)="seeAllQuickLinks = true" i18n>More</button>
    </div>

    <div
      myInfiniteScroller (nearOfBottom)="onNearOfBottom()"
      [dataObservable]="onDataSubject.asObservable()" setAngularState="true" [parentDisabled]="disabled"
    >
      <div class="section videos" *ngFor="let object of objects">

        <div class="section-header d-flex justify-content-between">
          <h1 class="section-title">
            <a class="text-fg border-highlight" routerLink="/search" [queryParams]="object.queryParams">{{ object.label }}</a>

            <span class="text-secondary fs-7 mx-2">·</span>
            <span i18n class="text-secondary fs-7">{{ object.type }}</span>
          </h1>

          <my-button theme="secondary" [routerLink]="object.routerLink" [queryParams]="object.queryParams">{{ object.buttonLabel }}</my-button>
        </div>

        <div class="video-wrapper" *ngFor="let video of object.videos">
          <my-video-miniature [video]="video" [user]="userMiniature" [displayVideoActions]="true"></my-video-miniature>
        </div>
      </div>
    </div>
  }

</div>
