@use '_variables' as *;
@use '_mixins' as *;

.sub-menu ::ng-deep .dropdown-toggle::after {
  position: relative;
  top: 2px;
}

.sub-menu ::ng-deep .dropdown-menu {
  margin-top: 0 !important;
}

.dropdown-menu .dropdown-item {
  top: -1px;

  @include dropdown-with-icon-item;
}

.sub-menu.no-scroll {
  overflow-x: hidden;
}

.modal-body {
  .hidden {
    display: none;
  }

  my-global-icon {
    @include margin-right(10px);
  }

  a {
    color: currentColor;
    box-sizing: border-box;
    display: block;
    font-size: 1.2rem;
    padding: 9px 12px;
    text-align: initial;
    text-transform: unset;
    width: 100%;

    @include disable-default-a-behaviour;

    &.active {
      color: pvar(--on-primary) !important;
      background-color: pvar(--primary-450);
      opacity: .9;
    }
  }
}
