@use 'sass:math';
@use '_variables' as *;
@use '_mixins' as *;

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.menu-wrapper {
  --menuXPadding: 1.5rem;

  position: fixed;
  height: calc(100vh - #{$header-height});

  z-index: z(menu);
  scrollbar-color: pvar(--actionButtonColor) pvar(--menuBackgroundColor);

  width: calc(#{$menu-width} - 2rem);

  @include margin-left(2rem);

  &.collapsed {
    --menuXPadding: 0.25rem;

    width: auto;

    @include margin-left(0);
  }

  @media screen and (max-width: $mobile-view) {
    width: 100% !important;

    .main-menu {
      overflow-y: auto !important;
    }
  }
}

.toggle-menu {
  color: pvar(--menuForegroundColor);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #3C2E2E;
  color: #C1B0B0;

  @include button-with-icon(20px, 0, -1px, 1px);
}

.menu-wrapper:not(.collapsed) .toggle-menu {
  position: absolute;
  top: 20px;

  @include right(24px);
}

.collapsed .toggle-menu my-global-icon {
  right: -1px;
  top: 0;
}

.main-menu {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 14px;
  background-color: pvar(--menuBackgroundColor);
  color: pvar(--menuForegroundColor);
  overflow-y: auto;
  scrollbar-color: transparent transparent;

  max-height: calc(100% - 50px); // Space for links below the menu

  &:focus,
  &:hover {
    scrollbar-color: auto;
  }

  @media not all and (hover: hover) and (pointer: fine) {
    scrollbar-color: auto;
  }
}

.collapsed .main-menu {
  max-height: calc(100% - 10px);

  border-start-start-radius: 0;
  border-end-start-radius: 0;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu-link,
.menu-button,
.block-title,
.about .description,
.about my-button {
  @include padding-left(var(--menuXPadding));
  @include padding-right(var(--menuXPadding));
}

.menu-block,
.collapsed .toggle-menu-container {
  &::after {
    content: '';
    display: block;
    height: 2px;
    background: #3C2E2E;
    margin: 1rem var(--menuXPadding);
  }
}

.collapsed .toggle-menu-container {
  text-align: center;
}

.block-title {
  font-weight: $font-bold;
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.menu-link {
  display: flex;
  align-items: center;

  color: pvar(--menuForegroundColor);
  white-space: normal;
  word-break: break-word;
  transition: background-color .1s ease-in-out;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  @include disable-default-a-behaviour;

  &.active {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:hover,
  &:focus-visible {
    background-color: rgba(255, 255, 255, 0.1);
  }

  my-global-icon {
    width: 22px;
    height: 22px;
    position: relative;
    top: -1px;

    + *:not(.visually-hidden) {
      @include margin-left(12px);
    }
  }
}

.menu-wrapper.collapsed .menu-link {
  justify-content: center;
}


.menu-button {
  margin-top: 0.5rem;
}

.about {
  .description {
    font-size: 14px;
  }
}
