@use 'sass:math';
@use '_variables' as *;
@use '_mixins' as *;

$menu-link-icon-size: 22px;
$menu-link-icon-margin-right: 18px;
$footer-links-base-opacity: .8;

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.footer-bottom {
  li {
    width: auto;
    display: inline-flex;
  }
}

.menu-link {
  display: flex;
  align-items: center;

  color: pvar(--menuForegroundColor);
  cursor: pointer;
  white-space: normal;
  word-break: break-word;
  transition: background-color .1s ease-in-out;
  line-height: $line-height-normal;
  width: 100%;

  @include disable-default-a-behaviour;
  @include padding-left($menu-lateral-padding);
  @include padding-right(20px);

  &.active {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:hover,
  &:focus-visible {
    background-color: rgba(255, 255, 255, 0.1);
  }

  my-global-icon {
    display: flex;
    width: $menu-link-icon-size;
    height: $menu-link-icon-size;

    @include apply-svg-color(#808080);
    @include margin-right($menu-link-icon-margin-right);
  }
}

.menu-wrapper {
  position: fixed;
  height: calc(100vh - #{$header-height});
  padding: 0;
  width: $menu-width;
  z-index: z(menu);
  scrollbar-color: pvar(--actionButtonColor) pvar(--menuBackgroundColor);
}

nav {
  background-color: pvar(--menuBackgroundColor);
  color: pvar(--menuForegroundColor);

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  @include ellipsis;

  &:focus,
  &:hover {
    overflow-y: auto;
  }

  @media not all and (hover: hover) and (pointer: fine) {
    overflow-y: auto;
  }
}

.menu-block,
.footer-block {
  margin-bottom: 15px;

  .block-container {
    @include margin-left(26px);
    @include margin-right(15px);
    @include ellipsis;
  }

  .block-title {
    text-transform: uppercase;
    font-weight: $font-bold;
    font-size: 13px;
  }

  a,
  button {
    min-height: 40px;
  }
}

.footer {
  padding-bottom: 15px;
}

.footer-bottom {
  padding: 0 $menu-lateral-padding;
}

.footer-links {
  a,
  button {
    color: pvar(--menuForegroundColor);
    opacity: $footer-links-base-opacity;
    white-space: nowrap;
    font-size: 0.75rem;
    line-height: 1.4rem;
    font-weight: $font-semibold;

    @include margin-right(8px);
    @include disable-default-a-behaviour;

    &:hover {
      opacity: $footer-links-base-opacity + .2;
    }
  }
}

.footer-copyleft a {
  color: pvar(--menuForegroundColor);
  opacity: $footer-links-base-opacity - .2;
  font-size: 0.85rem;

  @include disable-default-a-behaviour;

  &:hover {
    opacity: $footer-links-base-opacity;
  }
}

@media screen and (max-width: $mobile-view) {
  .menu-wrapper {
    width: 100% !important;

    nav {
      overflow-y: auto;
    }
  }

  .footer {
    width: 100% !important;
  }
}
